#container {
  max-width: 800px;
  margin: 0 auto;
}

.column-full {
  flex-basis: 100%;
}

.row {
  display: flex;
}

.col-2 {
  flex-basis: calc(100% /3);
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-third {
  flex-basis: calc(100% / 1.5);
}

.column-one-fourth {
  flex-basis: 25%;
}

img {
  width: 100%;
}
