#container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-2 {
  flex-basis: calc(100% /3);
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-third {
  flex-basis: calc(200% / 3);
}

.column-one-fourth {
  display: flex;
}

img {
  width: 100%;
}
