.button-blue {
  color: white;
  background-color: #1f438f;
  border: 1px solid #1f438f;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  margin: 3px;
  cursor: pointer;
}

.black {
  background-color: rgb(60 60 60 / 50%);
}

.white {
  background-color: white;
}

.opacity {
  opacity: 0.5;
}

.container {
  width: 390px;
  height: 200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid white;
  position: fixed;
  top: 35%;
  left: 40%;
}

.button-red {
  color: white;
  background-color: salmon;
  font-size: 20px;
  width: 85px;
  height: 40px;
  border: 1px solid salmon;
  border-radius: 4px;
  margin-left: 120px;
  cursor: pointer;
}

.none {
  display: none;
}

.showing {
  display: flex;
}
