body {
  font-family: Avenir, sans-serif;
  max-width: 1000px;
  margin: auto;
}

.font-tiempos {
  font-family: "Tiempos Headline", sans-serif;
}

.gray-bottom-container {
  background-color: white;
  border-bottom: 2px solid #dad8d8;
  width: 100%;
}

.header {
  display: flex;
  margin: 20px;
}

img {
  width: 100%;
}

.head-col {
  flex-basis: 50%;
  display: flex;
}

.head-col img {
  width: 30%;
  margin-left: 20px;
}

.head-links {
  margin: auto 15px;
}

.head-col button {
  height: 40px;
  margin: auto;
  padding: 0 10px;
  background-color: #061b49;
  border: 1px solid #061b49;
  border-radius: 4px;
  align-items: center;
}

.column-full {
  width: 100%;
  padding-top: 10px;
}

.row {
  display: flex;
}

.main-container {
  width: 90%;
  margin: 60px auto;
}

.image-row {
  background-image: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url("images/implementation/implementation-header.jpg");
  opacity: 0.85;
  width: 800px;
  height: 420px;
  background-size: cover;
  margin: 50px auto;
}

.image-column {
  flex-basis: 45%;
  margin: auto 0 auto 50px;
}

.p-font {
  font-size: 13px;
  line-height: 20px;
}

.button {
  background-color: #061b49;
  border: 1px solid #061b49;
  border-radius: 2px;
  padding: 8px 32px;
  margin-top: 15px;
  display: flex;
}

.column-half {
  flex-basis: 50%;
  margin: auto;
}

a {
  text-decoration: none;
}

.filler-row {
  width: 100%;
  height: 120px;
}

.filler-column-first {
  flex-basis: 50%;
  margin: auto 40px;
  color: #858484;
}

.filler-column-second {
  position: relative;
  left: 160px;
  top: 20px;
}

.footer-row {
  background-color: gray;
  height: 300px;
}

.footer-column {
  flex-basis: 50%;
}

.footer-first-column {
  margin-top: 30px;
  margin-left: 50px;
}

.footer-second-column {
  height: 100%;
  display: flex;
}

.footer-links {
  width: 50%;
  margin-top: 50px;
}

.white-logo {
  width: 100px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.footer-second-column ul {
  padding: 0;
}

.footer-second-column li {
  list-style: none;
  margin-bottom: 10px;
}

.last-row {
  background-color: #eceaea;
  height: 70px;
}

.last-row-column-1 {
  margin: auto 60px;
}

.last-row-column-2 {
  margin: auto 0;
}

.text-aling-center {
  text-align: center;
}

.gray {
  color: gray;
}

.blue {
  color: #113990;
}

.white {
  color: white;
}

.lightgray {
  color: #aaa;
}

.darkgray {
  color: #6a6868;
}

.background-lightgray {
  background-color: #ebeaea;
}

.title-font {
  font-size: 24px;
}

.subtitle-font-size {
  font-size: 20px;
}

.padding-120 {
  padding-bottom: 120px;
}
