.button {
  padding: 13px;
  font-size: 20px;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.heading {
  background-color: black;
  color: white;
}

.gray {
  background-color: lightgray;
}
